{% block body %}
    <h1>{{ kpi3 }}</h1>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Task-szám</th>
            <th>Logolt idő</th>
            <th>Review idő</th>
        </tr>
        </thead>
        <tbody>
            {% for issue in reviewFixIssues %}
            <tr>
                <td><a href="https://jira.virgo.hu/browse/{{ issue.taskNumber }}" target="_blank">{{ issue.taskNumber }}</a></td>
                <td>{{ issue.hoursLoggedByAssignee }} óra</td>
                <td>{{ issue.reviewHoursLoggedByAssignee }} óra</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
