{% extends '@App/base.html.twig' %}

{% block body %}
    <h1><a href="https://trello.com/b/2qMgPhxH/kpi-m%C3%A9r%C5%91-board" target="_blank">{{ tab1 }}</a></h1>
    <div class="row">
        <div class="col-md-6" id="todo">
            <strong>Hátralévő taskok: {{ cardsTodo|length }}</strong>
            <hr>
            {% for card in cardsTodo %}
                <div>
                    <h4>{{ card.name }}</h4>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6" id="done">
            <strong>Elkészült taskok: {{ cardsDone|length }}</strong>
            <hr>
            {% for card in cardsDone %}
                <div>
                    <s><h4>{{ card.name }}</h4></s>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

