{#{% extends 'base.html.twig' %}#}

{% block body %}
    <h1>{{ kpi3 }}</h1>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Task-szám</th>
            <th>Logolt idő</th>
            <th>Review idő</th>
        </tr>
        </thead>
        <tbody>
            {% for issue in reviewFixParents %}
            <tr>
                <td><a href="https://jira.virgo.hu/browse/{{ issue.key }}" target="_blank">{{ issue.key }}</a></td>
                <td>{{ issue.loggedHours }} óra</td>
                <td>{{ reviewFixTimes[loop.index-1] }} óra</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
