{% extends '@App/base.html.twig' %}
{% set kpi1 = 'Mérő-app' %}
{% set kpi2 = 'Könyv' %}
{% set kpi3 = 'Review pontok' %}
{% set kpi4 = 'Lekérdező' %}
{% block body %}
    {% if queryString is defined and queryString == true %}
        <h3>Nem megfelelő url!</h3>
    {% endif %}
    <div class="container">
        <h1>{{ title }}</h1>
        <ul class="nav nav-pills">
            <li class="active"><a href="#kpi1" data-toggle="tab">Home</a></li>
            <li><a href="#kpi2" data-toggle="tab">{{ kpi1 }}</a></li>
            <li><a href="#kpi3" data-toggle="tab">{{ kpi2 }}</a></li>
            <li><a href="#kpi4" data-toggle="tab">{{ kpi3 }}</a></li>
            <li><a href="#kpi5" data-toggle="tab">{{ kpi4 }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="kpi1">
                {% include '@App/home.html.twig' %}
            </div>
            <div class="tab-pane" id="kpi2">
                {% include '@App/kpi1.html.twig' %}
            </div>
            <div class="tab-pane" id="kpi3">
                {% include '@App/kpi2.html.twig' %}
            </div>
            <div class="tab-pane" id="kpi4">
                {% include '@App/kpi3.html.twig' %}
            </div><div class="tab-pane" id="kpi5">
                {% include '@App/kpi4.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}